@using Bumbo.Models.EmployeeManager.Employee
@model EmployeeEditViewModel


<h1 class="text-center">Medewerker wijzigen</h1>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger text-center" role="alert">
        <strong>Oeps!</strong> De veranderingen konden niet opgeslagen worden vanwege invalide data. Probeer alstublieft opnieuw.
    </div>
}

<div class="container ">
    <div>
        <form asp-action="Edit" id="EditForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.EmployeeKey" />
            <div class="row">
                <div class="col border border-3 border-dark employee-create-box">
                    <!--Persoonlijke informatie column-->
                    <div class="col">
                        <div class="row border border-3 border-dark p-1">
                            <h5 class="text-center">Naam</h5>
                            <div class="form-group col-4">
                                <input asp-for="FirstName" class="form-control" placeholder="Voornaam" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4">
                                <input asp-for="Preposition" class="form-control" placeholder="Tussenvoegsel" />
                                <span asp-validation-for="Preposition" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4">
                                <input asp-for="LastName" class="form-control" placeholder="Achternaam" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <div class="p-3">
                        <h5>Persoonlijke informatie</h5>
                        <div class="form-group">
                            <label asp-for="Birthdate" class="control-label"></label>
                            <input asp-for="Birthdate" class="form-control" />
                            <span asp-validation-for="Birthdate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" placeholder="BV. naam@example.com" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" placeholder="Voer een gelding telefoon nummer in" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="form-group col">
                                <label asp-for="PostalCode" class="control-label"></label>
                                <input asp-for="PostalCode" class="form-control" placeholder="BV. 3943GC" />
                                <span asp-validation-for="PostalCode" class="text-danger"></span>
                            </div>
                            <div class="form-group col">
                                <label asp-for="HouseNumber" class="control-label"></label>
                                <input asp-for="HouseNumber" class="form-control" placeholder="5A" />
                                <span asp-validation-for="HouseNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col">
                                <label asp-for="Street" class="control-label"></label>
                                <input asp-for="Street" class="form-control" placeholder="Straat" />
                                <span asp-validation-for="Street" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col border border-3 border-dark employee-create-box">
                    <!--Bedrijfs informatie column-->


                    <div class="form-group">
                        <label asp-for="EmployeeJoinedCompany" class="control-label"></label>
                        <input asp-for="EmployeeJoinedCompany" class="form-control" />
                        <span asp-validation-for="EmployeeJoinedCompany" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="Function" class="control-label"></label>
                        <input asp-for="Function" class="form-control" />
                        <span asp-validation-for="Function" class="text-danger"></span>
                    </div>

                    <!--Multiple select list for departments of employee-->

                    <div class="form-group text-center">
                        <label asp-for="EmployeeSelectedDepartments" class="control-label"></label><br />
                        <span asp-validation-for="EmployeeSelectedDepartments" class="text-danger"></span>
                        <table>
                            @foreach (var item in Model.EmployeeSelectedDepartments.OrderBy(department => department.DepartmentName))
                            {
                                <tr>
                                    <td>
                                        @if (item.IsSelected)
                                        {
                                            <input checked type="checkbox" name="selectedDepartments" value="@item.DepartmentId" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="selectedDepartments" value="@item.DepartmentId" />
                                        }
                                    </td>
                                    <td>
                                        @item.DepartmentName
                                    </td>
                                </tr>
                            }
                        </table>
                        <br />
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>
<div class="form-group h-100 d-flex align-items-center justify-content-center p-3">
    <input type="submit" value="Veranderingen Opslaan!" form="EditForm" class="btn btn-success btn-lg" />
</div>
<div class="form-group h-100 d-flex align-items-center justify-content-center p-3">
    <a class="btn btn-danger btn-sm" asp-action="Index">Ga terug naar lijst zonder opslaan</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
