@model Bumbo.Models.PrognosisManager.PrognosisListViewModel

@{
    ViewData["Title"] = "Prognose";
    ViewBag.data = "Prognosis";
}

<!-- if modelstate that returned is not valid, say that saving failed-->
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger text-center" role="alert">
        <strong>Oeps!</strong> De veranderingen konden niet opgeslagen worden vanwege invalide data. Probeer alstublieft opnieuw.
    </div>
}

<h1 class=" col-sm d-flex justify-content-center flex-nowrap">Prognose</h1>

<div class="top-date-header  d-flex justify-content-between m-2 border rounded-2 align-items-center border border-5 border-dark">
    <div>
        <!--Arrow to left, using an online arrow png-->
        <a class="text-decoration-none" asp-action="Index" asp-route-dateInput="@Model.PrognosisList[0].Date.Date" asp-route-next="@false">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z" />
            </svg>
        </a>
    </div>
    <div>
        <!--Week  number, date information which is in the center.-->
        @Model.DisplayListHeader
    </div>
    <div>
        <!--Arrow to right, using an online arrow png on the right side of the bar.-->
        <a class="text-decoration-none" asp-action="Index" asp-route-dateInput="@Model.PrognosisList[0].Date.Date" asp-route-next="@true">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z" />
            </svg>
        </a>
    </div>
</div>

<div class="text-center m-3">

    <!-- Trigger/Open The Modal -->
    <button id="openModalBTN">Prognose kopieren tussen weken</button>
</div>

<table class="table table-striped table-hover table-bordered">

    <thead class="table-dark">
        <div>
        <tr class="text-center">
            <th>
                    @Html.DisplayNameFor(model => model.PrognosisList[0].Date)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.PrognosisList[0].CustomerCount)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.PrognosisList[0].ColiCount)
            </th>

        </tr>
        </div>
    </thead>



    <tbody>

        <form asp-action="Index">
            <div class="form-group text-center m-3">
                
                <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#saveModal">
                    Veranderingen opslaan
                </button>
                <!-- Save Modal -->
                <div class="modal fade" id="saveModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <span class="close position-absolute">&times;</span>
                            <div class="modal-body">
                                <h5 class="modal-title">Weet je zeker dat je deze pognoses wilt opslaan?</h5>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nee</button>
                                <input type="submit" value="Ja" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @for (int i = 0; i < Model.PrognosisList.Count; i++)
            {
            <tr class="prognosis-textarea ">
                <td class="text-center">
                        @Model.PrognosisList[i].Date.ToString("dd-MM-yyyy")
                    <input type="hidden" asp-for="PrognosisList[i].Date" />
                </td>
                <td>
                    <div class="form-group text-center">
                        <input asp-for="PrognosisList[i].CustomerCount" class="form-control" value="@Model.PrognosisList[i].CustomerCount" />
                        <span asp-validation-for="PrognosisList[i].CustomerCount" class="text-danger"></span>
                    </div>
                </td>
                <td>
                    <div class="form-group  text-center">
                        <input asp-for="PrognosisList[i].ColiCount" class="form-control" value="@Model.PrognosisList[i].ColiCount" />
                        <span asp-validation-for="PrognosisList[i].ColiCount" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            }

        </form>
    </tbody>
</table>



<!-- The Modal -->
<div id="modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content text-center">
        <span class="close position-absolute">&times;</span>
        <label> </label>
        <div class="m-3 text-center align-content-center">
            <form asp-action="CopyFromWeek">
                <h2>Kopieer prognose van week</h2>
                <div class="row">
                    <span class="col">Week</span>
                    <input asp-for="CopyFromWeekNumber" class="form-control col" value="@Model.CopyToWeekNumber" />

                    <span class="col">In jaar</span>
                    <input asp-for="CopyFromYear" class="form-control col" value="@Model.PrognosisList.FirstOrDefault().Date.Year" />
                    <span class="col">kopieer naar</span>

                    <span class="col">Week</span>
                    <input asp-for="CopyToWeekNumber" class="form-control col" value="@Model.CopyToWeekNumber" />

                    <span class="col">In jaar</span>
                    <input asp-for="CopyToYear" class="form-control col" value="@Model.PrognosisList.FirstOrDefault().Date.Year" />
                </div>
                <label> </label>
                <span asp-validation-for="CopyFromWeekNumber" class="text-danger"></span>
                <span asp-validation-for="CopyToWeekNumber" class="text-danger"></span>
                <input type="submit" value="Opslaan" class="btn btn-success btn-sm " />
            </form>
        </div>


    </div>

</div>




