@using Bumbo.Models.UnavailableMoments
@model UnavailabilityManagerListViewModel

@{
    ViewBag.data = "Unavailability";
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Afwezigheid beheer</h1>

<div class="text-center">
    <a class="text-center text-decoration-none text-black btn btn-primary justify-content-center" asp-action="MonthlyOverview">Ga naar overzicht van alle afwezigheden</a>
</div>

<div class="top-header edit-box">
    <div class="top-header-content ">
        <form asp-action="Index" method="get" class="container align-content-center">
            <div class="form-actions no-color row   d-flex justify-content-center m-2 align-items-center">
                <div class="d-flex justify-content-center text-center my-auto flex-row">
                    <div class="form-group top-header-content form-check flex-column">
                        <input type="search" name="SearchString" value="@Model.SearchString" placeholder="Zoek op naam" />
                    </div>
                    <div class="col-md-2 justify-content-center text-center my-auto">
                        <div class="form-group top-header-content">
                            <label class="form-check-label">
                                @Html.DisplayNameFor(model => model.IncludeAccepted) <br /> <input class="form-check-input" asp-for="IncludeAccepted" />
                            </label>
                        </div>
                    </div>
                    <div class=" text-center my-auto flex-column">
                        <div class="justify-content-center text-center my-auto ">
                            <div class="btn btn-warning text-center">
                                <input type="submit" value="Zoeken" class="btn btn-default search-bar" />
                            </div>
                        </div>
                    </div>

                    <div class=" text-center my-auto flex-column m-3">
                        <div class="justify-content-center text-center my-auto ">
                            <div class=" text-center">
                                <a class="btn btn-success" id="openModalBTN"> Alles goedkeuren </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table table-striped table-hover table-bordered">
    <thead class="table table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnavailableMoments[0].EmployeeName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.UnavailableMoments[0].StartTime)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.UnavailableMoments[0].EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnavailableMoments[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnavailableMoments[0].ReviewStatus)
            </th>
            <th>
                Acties
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.UnavailableMoments.Count == 0)
        {
            <tr class="alert-info text-center">
                <td colspan="7">
                    <p>Er zijn geen nieuwe afwezigheid aanvragingen.</p>
                </td>
            </tr>
        }
        @foreach (var item in Model.UnavailableMoments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewStatus)
                </td>
                <td class=" text-center" colspan="2">
                    <div class=" d-flex align-items-center justify-content-center">
                        <!--Approve button-->
                    <form asp-action="Review" asp-route-id="@item.Id" asp-route-isApproved="true" id="AcceptForm" method="post">
                            <i class="ms-1 bi-check-circle-fill" href="javascript:{}" onclick="document.getElementById('AcceptForm').submit();" style="color: green" title="Accepteer dit afwezigheidsverzoek" data-toggle="tooltip" data-placement="top">
                            </i>
                        </form>
                        <form asp-action="Review" asp-route-id="@item.Id" asp-route-isApproved="false" id="DenyForm" method="post">
                            <i class="ms-1 bi-x-circle-fill" href="javascript:{}" onclick="document.getElementById('DenyForm').submit();" style="color: red" title="Keur dit afwezigheidsverzoek af" data-toggle="tooltip" data-placement="top">
                            </i>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.UnavailableMoments.Count() != 0)
{
    <!-- The Modal -->
    <div id="modal" class="modal ">
        <!-- Modal content -->
    <div class="modal-content modal-dialog text-center prognosis-textarea">
            <span class="close position-absolute">&times;</span>
            <label> </label>
            <div class="m-3 text-center align-content-center">
                <form method="post" asp-action="ReviewAll">
                    <!--We pass all ids of items on screen.-->
                    @foreach (var item in Model.Ids)
                    {
                        <input hidden asp-for="Ids" value="@item" name="ids" />
                    }
                    <div class="m-3">
                        @if (@Model.UnavailableMoments.Count() == 1)
                        {
                            <span> Weet je zeker dat je @Model.UnavailableMoments.Count() moment wilt </span> <span class="text-success">goedkeuren?</span>
                        }
                        else
                        {
                            <span> Weet je zeker dat je @Model.UnavailableMoments.Count() momenten wilt </span> <span class="text-success">goedkeuren?</span>
                        }
                    </div>
                    <input type="submit" value="Opslaan" asp-action="ReviewAll" asp-route-isApproved="true" class="btn btn-success btn-sm " />
                </form>
            </div>
        </div>
    </div>
}

@section Scripts
{
<script>
    $('#openModalBTN').click(function() {
        // Show no new items to accept
        if(@Model.UnavailableMoments.Count() == 0){
             Swal.fire({
            title: 'Oeps!',
            text: "Er zijn op dit moment geen nieuwe onbeschikbaarheids aanvragingen die je kunt accepteren.",
            icon: 'warning'
        })
        }

    })
</script>
}

