@model BumboData.Models.WorkedShift

@{
    if (Model.EndTime == null)
    {
        <h1>Werknemer: @Model.Employee.FirstName @Model.Employee.LastName is nu ingeklokt om @Model.StartTime.ToString("dd/MM/yyyy HH:mm")</h1>
    } else
    {
        <h1>Werknemer: @Model.Employee.FirstName @Model.Employee.LastName is nu uitgeklokt om @Model.EndTime?.ToString("dd/MM/yyyy HH:mm")</h1>
    }
}
