@model Bumbo.Models.WorkedHours.EmployeeWorkedHoursListViewModel
@{
    ViewBag.data = "WorkedHours";
}
@using Bumbo.Utils;
<h1 class=" col-sm d-flex justify-content-center flex-nowrap">Gewerkte uren bekijken</h1>


<div class="border border-2 border-dark rounded col-md-12 bg-white m-1">
    <div class="d-flex justify-content-between m-2 align-items-center text-center">
        <div>
            <a class="btn btn-primary" asp-action="Employee" asp-route-dateInput="@Model.Date.AddDays(-7).Date">
                <i class="bi bi-caret-left"></i> Vorige dag
            </a>
        </div>
        <div class="fw-bold">
            <!--Week  number, date information which is in the center.-->
            <span style="font-size:18px">@Model.Date.ToString("yyyy")</span> Week @Model.Date.GetWeekNumber()
        </div>
        <div>
            <a class="btn btn-primary" asp-action="Employee" asp-route-dateInput="@Model.Date.AddDays(7).Date">
                Volgende dag <i class="bi bi-caret-right"></i>
            </a>
        </div>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Dag</th>
            <th scope="col">Geplande uren</th>
            <th scope="col">Werkelijke uren</th>
            <th scope="col">Verschil</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.employeeWorkedHoursListItemViewModels)
        {
            <tr>
                <td>
                    @String.Format("{0:dddd, MMMM d, yyyy}", item.Date)
                </td>
                <td>@item.PlannedShiftsToString()</td>
                <td>
                    @item.WorkedShiftsToString()
                </td>
                <td>@item.CalculateDifference()</td>
                <td>
                    @if (item.PlannedShifts.Count > 0 || item.WorkedShifts.Count > 0)
                    {
                        @if (item.WorkedShifts.All(w => w.Approved == true))
                        {
                            @Html.Raw("Is goedgekeurd")
                            ;
                        }
                        else
                        {
                            @Html.Raw("Is nog niet goedgekeurd")
                            ;
                        }
                    }
                </td>

            </tr>
        }
    </tbody>
</table>