@using Bumbo.Models.ExportManager
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Diagnostics
@using Bumbo.Utils
@using BumboServices.Surcharges.SurchargeRules
@model Bumbo.Models.ExportManager.ExportOverviewViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Uren overzicht</h1>

<div class="container">
    <div class="row">
        <div class="col-md-2 sticky-top" style="height: 100%;">
            @foreach (var modelSelectableMonth in Model.SelectableMonths)
            {
                if (modelSelectableMonth.Month == Model.SelectedMonth.Month
                    && modelSelectableMonth.Year == Model.SelectedMonth.Year)
                {
                    <a class="btn my-1 w-100 btn-primary">@modelSelectableMonth.ToString("MMMM - yyyy")</a>
                }
                else
                {
                    <a asp-action="Overview" asp-route-SelectedMonth="@modelSelectableMonth.ToString("yyyy-MM")" class="btn my-1 w-100 py-1 btn-secondary">@modelSelectableMonth.ToString("MMMM - yyyy")</a>
                }
            }
        </div>
        <div class="col-md-8">
            <table class="w-100">
                @if (Model.ExportOverviewListItemViewModels.Count == 0)
                {
                    <p class="text-center">Geen resultaten gevonden</p>
                }
                else
                {
                    @foreach (var viewModel in Model.ExportOverviewListItemViewModels)
                    {
                        <tr class="my-1" style="border: dashed black;">
                            <td>
                                <p class="fw-bold text-center">@viewModel.Employee.FullName()</p>
                            </td>
                            @for (var i = 0; i < 3; i++)
                            {
                                var info = i switch
                                {
                                    0 => viewModel.CurrentMonth,
                                    1 => viewModel.PrevMonth,
                                    2 => viewModel.GetDifference(),
                                    _ => null
                                    };
                                <td class="w-25">
                                    
                                    @switch (i)
                                    {
                                        case 0:
                                            <p class="fw-bold text-center">Deze maand</p>
                                            break;
                                        case 1:
                                            <p class="fw-bold text-center">Vorige maand</p>
                                            break;
                                        case 2:
                                            <p class="fw-bold text-center">Verschil</p>
                                            break;
                                    }
                                    <p>Aantal gewerkte uren:</p>
                                    <p>@info?.HoursWorked.FormatTotalHourMinutes()h</p>
                                    <p>Aantal zieke uren:</p>
                                    <p>@info?.HoursSick.FormatTotalHourMinutes()h</p>
                                    <p class="fw-bold text-center">Toeslagen</p>
                                    <p>Zon- en feestdagen:</p>
                                    <p>@(info?.Surcharges?[SurchargeType.Holiday].FormatTotalHourMinutes())h</p>
                                    <p>50%:</p>
                                    <p>@(info?.Surcharges?[SurchargeType.Surcharge50].FormatTotalHourMinutes())h</p>
                                    <p>33,33%:</p>
                                    <p>@(info?.Surcharges?[SurchargeType.Surcharge33].FormatTotalHourMinutes())h</p>
                                </td>
                            }
                        </tr>
                    }
                }
            </table>
        </div>
        <div class="col-md-2 sticky-top" style="height: 100%;">
            <h3>Filters</h3>
            <form asp-action="Overview" method="get">
                <div class="form-group w-100">
                    <input type="search" name="SearchQuery" class="export-screen-input-field" value="@Model.SearchQuery" placeholder="Medewerker naam"/>
                    <input class="btn btn-primary my-2" type="submit" value="Zoeken"></input>
                </div>
            </form>
        </div>
    </div>
</div>