@model Bumbo.Models.RosterManager.RosterDayViewModel



<h1 class=" col-sm d-flex justify-content-center flex-nowrap">Rooster</h1>



<div class="top-date-header  d-flex justify-content-between m-2 border rounded-2 align-items-center border border-5 border-dark">
    <div>
        <!--Arrow to left, using an online arrow png-->
        <a class="text-decoration-none" asp-action="Index" asp-route-dateInput="@Model.Date.AddDays(-1).Date">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z" />
            </svg>
        </a>
    </div>
    <div>
        <!--Week  number, date information which is in the center.-->
        <p>Week @Model.GetWeekNumber(Model.Date) | @Model.Date.ToShortDateString() </p>
    </div>
    <div>
        <!--Arrow to right, using an online arrow png on the right side of the bar.-->
        <a class="text-decoration-none" asp-action="Index" asp-route-dateInput="@Model.Date.AddDays(1).Date">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z" />
            </svg>
        </a>
    </div>
</div>
  
<div>

    <dl class="row border">
        <div class="border col-sm d-flex justify-content-center flex-nowrap">

            <dt>
                @Html.DisplayNameFor(model => model.CassierePrognose) :
            </dt>
            <dd>
                @if (Model.CassierePrognose == -1)
                {
                    <span>Geen Info</span>
                }
                else
                {
                    <span>@Model.CassierePrognose Uren</span>
                }
            </dd>
        </div>

        <div class="border col-sm d-flex justify-content-center flex-nowrap">
            <dt>
                @Html.DisplayNameFor(model => model.FreshPrognose) :
            </dt>
            <dd>
                @if (Model.FreshPrognose == -1)
                {
                    <span>Geen Info</span>
                }
                else
                {
                    <span>@Model.FreshPrognose Uren</span>
                }
            </dd>
        </div>

        <div class="border col-sm d-flex justify-content-center flex-nowrap">
            <dt>
                @Html.DisplayNameFor(model => model.StockersPrognose) :
            </dt>
            <dd>
                @if (Model.StockersPrognose == -1)
                {
                    <span>Geen Info</span>
                }
                else
                {
                    <span>@Model.StockersPrognose Uren</span>
                }
            </dd>
        </div>



    </dl>
</div>



<script>

    // we use a script to get the width of a normal cell and base the width of the shift div on that, so that it should resize along with the screen if it changes.
    function getWidthOfbase(elem, hours) {


        let cell = document.querySelector('.roster-table-cell');
        let width = cell.offsetWidth;

        let finalwidth = width * hours;
        
        elem.style.width = finalwidth + 'px';
        

    }



</script>


<div class="text-center m-3">

    <!-- Trigger/Open The Modal -->
    <button id="openModalBTN">Voeg dienst toe</button>
</div>


<div>

        <!--table, 24 long horizontal -->
        <table class="table roster-table" style="background-color: white;">
            <thead>
                <tr class="">
                    <th class="border border-2 border-dark">Naam</th>
                    @for (int i = 0; i < 24; i++)
                    {

                    <th class="border border-2 border-dark roster-table-header-cell">@i </th>
                
                    }
                    <th class="border border-2 border-dark"></th>
                </tr>
            </thead>



            <tbody>

                <!--For each available employee, create a row-->
                @if (Model.Employees != null)
                {
                    foreach (var employee in Model.Employees)
                    {
                        <tr class="roster-shift-containter" >
                            <td class="small roster-table-employee-cell">
                                 @employee.FullName
                            </td>

                            @for (int i = 0; i < 24; i++)
                            {

                            
                                @if (Model.GetShiftOnHourOfEmployee(employee, i) != null)
                                {
@*
                                <td class="roster-table-cell-planned">
                                </td>
*@
                                <td id="roster-start" class="roster-table-cell ">

                                    <div id="roster-start-div" class="roster-shift text-center" style="height: 100%;">
                                        @Model.GetShiftOnHourOfEmployee(employee, i).Department.DepartmentName
                                        <script>

                                            var divs = document.querySelectorAll('div');
                                            var above_div = divs[divs.length - 1];

                                            getWidthOfbase(above_div, @Model.GetShiftLength(employee, i));

                                            </script>
                                    </div>

                                </td>

                            }else{
                                <td class="roster-table-cell">
                                </td>
                                }



                            }
                            <td>
                                <a class="text-decoration-none text-black" asp-area="" asp-controller="RosterManager" asp-route-employeeId="@employee.Id" asp-route-prognosisId="@Model.PrognosisDayId" asp-route-dateInput="@Model.Date.ToShortDateString()" asp-action="Create">+</a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>

    </div>



<!-- The Modal for creating a new shift -->
<div id="modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content text-center prognosis-textarea">
        <span class="close position-absolute">&times;</span>
        <label> </label>
        <div class="m-3 text-center align-content-center">
            <form asp-action="CreateShift">
                <h2>Voeg een dienst toe</h2>
                <div class="row">
                    <span class="col">Medewerker:</span>
                    <select asp-for="SelectedEmployeeId" class="form-control col">
                        
                        @foreach (var employee in Model.Employees)
                        {
                            <option value="@employee.Id">@employee.FullName</option>
                        }
                    </select>


                    @*TODO make it so you can only select department for employee who have them.*@
                    <span class="col">In afdeling:</span>
                    <input asp-for="SelectedDepartmentId" class="form-control col" />
                </div>
                <div class="row">
                    <span class="col">Startijd:</span>
                    <input asp-for="SelectedStartTime" class="form-control col" />

                    <span class="col">Eindtijd:</span>
                    <input asp-for="SelectedEndTime" class="form-control col" />
                </div>
                <label> </label>
                <span asp-validation-for="Date" class="text-danger"></span>
                <span asp-validation-for="Date" class="text-danger"></span>
                <input type="submit" value="Opslaan" class="btn btn-success btn-sm " />
            </form>
        </div>


    </div>

</div>









