@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Bumbo.Models.RosterManager.OverviewList

@{
    ViewData["Title"] = "Roosterbeheer";
    ViewBag.data = "RosterOverview";
}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

<div class="container">
    <div class="sticky-top">
        <div class="border border-2 border-dark rounded col-md-12 bg-white">
            <div class="d-flex justify-content-between m-2 align-items-center text-center">
                <div>
                    <a class="btn btn-primary" asp-action="Overview" asp-route-dateInput="@Model.Date.AddMonths(-1).Date">
                        <i class="bi bi-caret-left"></i> Vorige maand
                    </a>
                </div>
                <div class="fw-bold">
                    <!--Week  number, date information which is in the center.-->
                    @Model.Date.ToString("MMMM")<br><span style="font-size:18px"> @Model.Date.ToString("yyyy") </span>
                </div>
                <div>
                    <a class="btn btn-primary" asp-action="Overview" asp-route-dateInput="@Model.Date.AddMonths(1).Date">
                        Volgende maand <i class="bi bi-caret-right"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="row pt-2 pb-4 white-fade-bottom">
            <div class="col-3">
                <span class="dot grey me-2"></span> <span>Wit / grijze blokken: Dagen zonder rooster.</span>
            </div>
            <div class="col-3">
                <span class="dot bg-warning me-2"></span> <span>Gele blokken: Dagen met rooster die prognose niet haalt.</span>
            </div>
            <div class="col-3">
                <span class="dot green me-2"></span> <span>Groene blokken: Dagen met rooster die prognose wel behaalt.</span>
            </div>
            <div class="col-3">
                <span class="dot red me-2"></span> <span>Rode omlijning: Dag heeft CAO overtredingen.</span>
            </div>
        </div>
                </div>

    
    <div class="row py-1 seven-cols">
        @{
            var daysInWeek = Enum.GetValues(typeof(DayOfWeek));
            // Shift days in week by 2 forward to start with monday.
            var daysInWeekShifted = daysInWeek.Cast<DayOfWeek>().Skip(1).Concat(daysInWeek.Cast<DayOfWeek>().Take(1));
        }
        @foreach (DayOfWeek day in daysInWeekShifted)
        {
            <div class="col-xl-2 d-xl-inline d-none fw-bold text-center">@CultureInfo.CurrentCulture.DateTimeFormat.GetDayName(day)</div>
        }
    </div>
    <hr/>
        


        <div class="row pt-4 seven-cols m-0">
        @* Add placeholder items so the week is properly aligned. Start with monday *@
        @{ var offset = (int) new DateTime(Model.Date.Year, Model.Date.Month, 1).DayOfWeek;}
        @for (int i = 0; i < offset - 1; i++)
        {
            <div class="col-xl-2 d-xl-inline d-none"></div>
        }
        @for (int day = 0; day <= DateTime.DaysInMonth(Model.Date.Year, Model.Date.Month); day++)
        {
            var item = Model.GetDayByIndex(day);

            <div class="col-md-3 col-sm-6 col-6 col-lg-3 col-xl-2 pb-4">
                @if (item != null)
                {
                    <div class="card roster-item-container @(item.ItemIsToday() ? "roster-overview-today" : "") @(item.IsSufficientlyRostered() ? "green" : "") @(item.IsInsufficientlyRostered() ? "bg-warning" : "")">
                        <a class="text-decoration-none text-black" asp-action="index" asp-route-dateInput="@item.Date.Date">
                            <div class="text-center roster-overview-box  ">
                                <div class="card-header">
                                    <p>
                                        <strong>@item.GetDayName()</strong>
                                    </p>
                                    <p>
                                        @item.Date.ToString("dd MMMM")
                                    </p>
                                </div>

                                <div class="card-body roster-overview-iteminfo">
                                    <div class="roster-overview-loading spinner-border"></div>
                                    <p>Prognose: <strong>@item.PrognosisHours</strong></p>
                                    <p>Ingeplande uren: <strong>@item.RosteredHours</strong></p>
                                </div>

                                <script>

                                        $(function () {
                                            $.ajax({
                                                type: "POST",
                                                url: '@Url.Action("DayHasInvalidShifts", "RosterManager")',
                                                data: {
                                                    date: '@item.Date.ToString()'
                                                },
                                                success: function (data) {
                                                    //handle the data
                                                     var index = @day;
                                                    if(data){
                                                        // add the red bar.
                                                        var itemContainer = $('.roster-item-container').eq(index);
                                                        itemContainer[0].classList.add("roster-overview-cao");

                                                        // set the title, which shows when hovering
                                                        var itemBox = $('.roster-overview-box').eq(index);
                                                         itemBox[0].title = "Deze dag heeft een CAO overtreding";
                                                    }
                                                    var loading = $('.roster-overview-loading').eq(index);
                                                    loading[0].style.display = "none";
                                                }
                                                    
                                            });
                                        });
                                    </script>
                            </div>
                        </a>
                    </div>
                }

            </div>
        }
    </div>
</div>