@using Bumbo.Models.BranchController
@using System.Globalization
@model BranchEditViewModel
@{
    ViewBag.data = "Branch";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger text-center" role="alert">
        <strong>Oeps!</strong> De veranderingen konden niet opgeslagen worden vanwege invalide data. Probeer alstublieft opnieuw.
    </div>
}

<div class="container ">
    <div>
        <form asp-action="Edit" id="EditForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col edit-box">
                <div class="row edit-box">
                    <h3 class="text-center">Bedrijfsinformatie</h3>
                    @Html.HiddenFor(model => model.Id)
                    <div class="col">
                        <div class="row">
                            <div class="form-group col-4">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" placeholder="Naam" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4">
                                <label asp-for="ShelvingDistance" class="control-label"></label>
                                <input asp-for="ShelvingDistance" class="form-control" placeholder="Spiegelmeters" />
                                <span asp-validation-for="ShelvingDistance" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="form-group col-4">
                                <label asp-for="City" class="control-label"></label>
                                <input asp-for="City" class="form-control" placeholder="Stad" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4">
                                <label asp-for="Street" class="control-label"></label>
                                <input asp-for="Street" class="form-control" placeholder="Straat" />
                                <span asp-validation-for="Street" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4">
                                <label asp-for="HouseNumber" class="control-label"></label>
                                <input asp-for="HouseNumber" class="form-control" placeholder="Huisnummer" />
                                <span asp-validation-for="HouseNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row edit-box">
                    <div class="col edit-box">
                        <div class="m-2">
                            <h5 class="text-center">Reguliere openingstijden</h5>
                        </div>
                        <table>
                            <tr>
                                <th width=100px>Dag</th>
                                <th width=150px>@Html.DisplayNameFor(model => model.OpeningHours[0].OpenTime)</th>
                                <th width=150px>@Html.DisplayNameFor(model => model.OpeningHours[0].CloseTime)</th>
                                <th width=100px>@Html.DisplayNameFor(model => model.OpeningHours[0].IsClosed)</th>
                            </tr>
                        </table>
                        @for (int i = 0; i < Model.OpeningHours.Count; i++)
                        {
                            @Html.HiddenFor(model => model.OpeningHours[i].DayOfWeek)
                            <table>
                                <tr>
                                    <th width=100px>
                                        @Html.DisplayFor(model => @CultureInfo.CurrentCulture.DateTimeFormat.DayNames[(int)Model.OpeningHours[i].DayOfWeek]);
                                    </th>
                                    <th width=150px>
                                        @Html.EditorFor(model => model.OpeningHours[i].OpenTime)
                                    </th>
                                    <th width=150px>
                                        @Html.EditorFor(model => model.OpeningHours[i].CloseTime)
                                    </th>
                                    <th width=100px>
                                        @Html.EditorFor(model => model.OpeningHours[i].IsClosed)
                                    </th>
                                </tr>
                            </table>
                            <div class="text-center">
                                @Html.ValidationMessageFor(model => model.OpeningHours[i].OpenTime)
                                @Html.ValidationMessageFor(model => model.OpeningHours[i].CloseTime)
                            </div>
                        }
                    </div>
                    <div class="col edit-box">
                        <div class="col d-flex align-items-center justify-content-center">
                            <div class="m-2">
                                <h5 class="text-center">Speciale openingstijden</h5>
                            </div>
                            <div class="m-2">
                                <div class="btn btn-warning text-center">
                                    @Html.ActionLink("Voeg toe", "AddSpecialOpeningHour", "Branch", new { id = Model.Id })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <table>
                                <tr>
                                    <th width=200px>Dag</th>
                                    <th width=200px>Openingstijd</th>
                                    <th width=200px>Sluitingstijd</th>
                                    <th width=200px>Actie</th>
                                </tr>
                            </table>
                            @if (Model.SpecialOpeningHours.Count != 0)
                            {

                                @for (int i = 0; i < Model.SpecialOpeningHours.Count; i++)
                                {
                                    <table>
                                        <tr>
                                            <th width=200px>
                                                @Html.DisplayFor(model => model.SpecialOpeningHours[i].Date)
                                            </th>
                                            <th>
                                                @Html.DisplayFor(model => model.SpecialOpeningHours[i].OpenTime)
                                            </th>
                                            <th>
                                                @Html.DisplayFor(model => model.SpecialOpeningHours[i].CloseTime)
                                            </th>
                                            <th>
                                                @Html.ActionLink("Verwijder", "DeleteSpecialOpeningHour", new { date = Model.SpecialOpeningHours[i].Date, id = Model.Id } )
                                            </th>
                                        </tr>
                                    </table>
                                }
                            }
                            else
                            {
                                <td colspan="4" class="text-center">
                                    <p>Er zijn geen speciale openingstijden gevonden.</p>
                                </td>
                            }
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col d-flex align-items-center justify-content-center">
                        <div class="m-2">
                            <a class="btn btn-danger h-100" asp-action="Index">Ga terug naar lijst zonder opslaan</a>
                        </div>
                        <div class="m-2">
                            <input type="submit" value="Veranderingen Opslaan!" form="EditForm" class="btn btn-primary btn-lg" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}