@using Bumbo.Models.BranchController
@using BumboData.Enums
@model BranchListIndexViewModel

@{
    ViewData["Title"] = "Branch overzicht";
}

<h1 class="text-center">Branch management</h1>

<table class="table">
    <thead>
        <tr>
            <!--Create new button and sorting buttons in a header above the table-->
            <div class="top-header align-items-center align-items-center">
                <div class="top-header-content">
                    <form asp-action="Index" method="get" class="container ">
                        <div class="form-actions no-color row ">
                            <div class="col-md-2 justify-content-center text-center my-auto">
                                <div class="top-header-content">
                                    <a asp-action="Create" class="btn btn-lg btn-primary">Nieuwe branch</a>
                                </div>
                            </div>
                            <div class="col-md-2 justify-content-center text-center my-auto">
                                <div class="form-group top-header-content form-check">
                                    <input type="search" name="SearchString" value="@Model.SearchString" placeholder="Zoek op naam" />
                                </div>
                            </div>

                            <div class="col-md-2 justify-content-center text-center my-auto">
                                <div class="form-group top-header-content">
                                    <label class="form-check-label">
                                        @Html.DisplayNameFor(model => model.IncludeActive) <br /> <input class="form-check-input" asp-for="IncludeActive" />
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 justify-content-center text-center my-auto">
                                <div class="form-group top-header-content">
                                    <label class="form-check-label">
                                        @Html.DisplayNameFor(model => model.IncludeInactive) <br /> <input class="form-check-input" asp-for="IncludeInactive" />
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 justify-content-center text-center my-auto">
                                <div class="form-group top-header-content">
                                    <label>sortering:</label>
                                    <label asp-for="CurrentSort" class="control-label"></label>
                                    <select asp-for="CurrentSort" class="form-control">
                                        @foreach (var item in Model.AvailableSortOptions)
                                        {
                                            <option value="@item">@Model.GetSortingDisplayName(item)</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2 justify-content-center text-center my-auto">
                                <div class="btn btn-warning text-center">
                                    <input type="submit" value="Zoeken" class="btn btn-default search-bar" />
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>


            <table class="table table-striped table-hover table-bordered">
                <thead class="table table-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Branches[0].Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Branches[0].FormattedStreet)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Branches[0].Managers)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Branches[0].Employees)
                        </th>
                        <th>
                            Acties
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Branches)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FormattedStreet)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Managers)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Employees)
                            </td>
                            <td>
                                @Html.ActionLink("Verander", "Edit", new {  id=item.Id }) |
                                <div class="btn btn-warning">
                                    @Html.ActionLink("Zet inactief", "SetInactive", new {  id=item.Id })
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </tr>
    </thead>
</table>