@model Bumbo.Models.RosterManager.RosterDayViewModel



<h1 class=" col-sm d-flex justify-content-center flex-nowrap">Rooster</h1>



<div class="d-flex justify-content-between m-4 border rounded-2">
    <button class="btn btn-outline-primary">
        <a class="text-decoration-none" asp-action="Index" asp-route-dateInput="@Model.Date.AddDays(-1).Date"> Vorige dag </a>
    </button>

    <p>Week @Model.GetWeekNumber(Model.Date) | @Model.Date.ToShortDateString() </p>

    <button class="btn btn-outline-primary">
        <a class="text-decoration-none" asp-action="Index" asp-route-dateInput="@Model.Date.AddDays(1).Date"> Volgende dag </a>
    </button>


</div>



<div>
    <button btn btn-outline-secondary>
        <a class="text-decoration-none" asp-action="Edit" asp-controller="Prognosis" asp-route-id="@Model.PrognosisDayId">(Edit prognose) Nog te roosterde uren: </a>
    </button>

</div>

<div>

    <dl class="row border">
        <div class="border col-sm d-flex justify-content-center flex-nowrap">

            <dt>
                @Html.DisplayNameFor(model => model.CassierePrognose) :
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CassierePrognose) Uren
            </dd>
        </div>

        <div class="border col-sm d-flex justify-content-center flex-nowrap">
            <dt>
                @Html.DisplayNameFor(model => model.FreshPrognose) :
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FreshPrognose) Uren
            </dd>
        </div>

        <div class="border col-sm d-flex justify-content-center flex-nowrap">
            <dt>
                @Html.DisplayNameFor(model => model.StockersPrognose) :
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StockersPrognose) Uren
            </dd>
        </div>



    </dl>
</div>

<div>
    <div class="h-100 d-flex align-items-center justify-content-center">
        <form>
            <div class="form-group">
                <button class="btn btn-outline-primary">
                    <a type="submit" class="text-decoration-none" asp-action="Index" asp-route-department=""> Update rooster </a>
                </button>

            </div>
        </form>
    </div>

    <div class="border border-1" style="background-color: white;">

        <div class="h-100 d-flex align-items-center justify-content-center">
            <div style="background-color: yellow ; padding: 10px; border: 1px solid black;">
                <p class="fw-bolder">Kassa afdeling</p>
            </div>
            <div style="background-color: green ; padding: 10px; border: 1px solid black;">
                <p class="fw-bolder">Vers afdeling</p>
            </div>
            <div style="background-color: saddlebrown ; padding: 10px; border: 1px solid black;">
                <p class="fw-bolder">Vakken vuller afdeling</p>
            </div>
            <div style="background-color: white ; padding: 10px; border: 1px solid black;">
                <p class="fw-bolder">Niet ingepland</p>
            </div>
            <div style=" background-color: red ; padding: 10px; border: 1px solid black;">
                <p class="fw-bolder"> Niet beschikbaar </p>

            </div>

        </div>




        <!--table, 24 long horizontal -->
        <table class="table" style="background-color: white;">
            <thead>
                <tr style="width: 4%;">
                    <th>Werknemer Naam</th>
                    @for (int i = 7; i < 25; i++)
                    {

                        <th>@i</th>
                    }
                </tr>
            </thead>



            <tbody>

                <!--For each available employee, create a row-->
                @if (Model.Employees != null)
                {
                    foreach (var employee in Model.Employees)
                    {
                        <tr style="width: 4%;">
                            <td>
                                @employee.FullName

                            </td>
                            @for (int i = 7; i < 24; i++)
                            {


                                @if (Model.IsPlanned(employee, i))
                                {
                                    // TODO: Redo code
                                    @*switch (Model.GetEmployeeDepartmentShift(employee, i))
                    {
                    case DepartmentEnum.Cassiere:
                    <td style="width: 4%; background-color: yellow ; padding: 10px; border: 1px solid darkgrey;"> </td>
                    break;
                    case DepartmentEnum.Fresh:
                    <td style="width: 4%; background-color: green ; padding: 10px; border: 1px solid darkgrey;"> </td>
                    break;
                    case DepartmentEnum.Stocker:
                    <td style="width: 4%; background-color: saddlebrown ; padding: 10px; border: 1px solid darkgrey;"> </td>
                    break;
                    default:
                    <td style="width: 4%; background-color: white ; padding: 10px; border: 1px solid darkgrey;"> </td>
                    break;
                    }*@
                                }
                                else
                                {

                                    if (Model.IsUnavailable(employee, i))
                                    {
                                        <td style=" width: 4%; background-color: red ; padding: 10px; border: 1px solid darkgrey;"> </td>
                                    }
                                    else
                                    {
                                        <td style=" width: 4%; background-color: white ; padding: 10px; border: 1px solid darkgrey;">

                                            @*<div> <a class="nav-link text-dark" asp-area="" asp-controller="RosterManager" asp-route-employeeId="@employee.Id" asp-route-prognosisId="@Model.PrognosisDay.Id" asp-route-dateInput="@Model.Date.AddHours(i)" asp-action="Create"></a> </div>*@
                                        </td>
                                    }

                                }



                            }
                            <td>
                                <a class="nav-link text-dark" asp-area="" asp-controller="RosterManager" asp-route-employeeId="@employee.Id" asp-route-prognosisId="@Model.PrognosisDayId" asp-route-dateInput="@Model.Date.ToShortDateString()" asp-action="Create">Voeg dienst toe</a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>

    </div>

</div>


