@model Bumbo.Models.UnavailableMoments.UnavailableMomentsListViewModel

@{
    ViewData["Title"] = "Afwezigheid";
}
<div class="row">
    <h1 class="col-8">Afwezigheid</h1>

    <p class="col-4">
        <a asp-action="Create" class="btn btn-success btn-lg">+ Nieuw moment</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Dag
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnavailableMoments[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnavailableMoments[0].EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnavailableMoments[0].Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UnavailableMoments)
        {
            <tr>
                <td>
                    @item.StartTime.Day<br/>
                    @item.StartTime.ToString("MMM")
                </td>
                <td>
                    @item.StartTime.ToString("hh:mm")
                </td>
                <td>
                    @item.EndTime.ToString("hh:mm")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Verwijder</a>
                </td>
            </tr>
        }
    </tbody>
</table>
