@using BumboData.Enums
@model Bumbo.Models.UnavailableMoments.UnavailableMomentsListViewModel

@{
    ViewBag.data = "Availabilty";
    ViewData["Title"] = "Afwezigheid";
}

<div>

    <div class="row">
        <div class="col d-flex align-items-center justify-content-center">
            <!-- Trigger/Open The Modal -->
            <div class="m-2">
                <button class="btn btn-primary h-100" id="openModalBTN">Afwezigheid kopieren tussen dagen</button>
            </div>
            <div class="m-2">
                <a class="btn btn-primary h-100" asp-action="Create">Afwezigheid toevoegen</a>
            </div>
        </div>
    </div>

</div>

@if (Model.UnavailableMoments.Count > 0)
{
    <div class="alert alert-info text-center p-2 m-2">
        Hint: Klik op een specifiek moment om die snel te kunnen kopieren!
    </div>
    <table class="table table-hover ">
        <thead>
        <tr>
            <th>
                Afwezigheden:
            </th>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnavailableMoments[0].Type)
            </th>

        </tr>
        </thead>
        <tbody>
        @foreach (var moment in Model.UnavailableMoments)
        {
            <tr class="">
                <td colspan="5">
                </td>
            </tr>

            <tr role='button' class="moments-row text-center" onclick="onRowClick('@moment.StartTime.Date.ToString("yyyy-MM-dd")', '@moment.StartTime.AddDays(7).Date.ToString("yyyy-MM-dd")')">
                @* if the moment is on the same day, we don't show the date multiple times*@
                @if (moment.StartTime.Date == moment.EndTime.Date)
                {
                    <!--Currently uses multiple td objects instead of colspan element to force min sizes on side columns to center properly.-->
                    <td class="moments-collumn">
                    </td>
                    <td class="text-center ">
                        @moment.StartTime.ToString("dddd d-M-yyyy ")
                    </td>
                    <td class="moments-collumn">
                    </td>
                }
                else
                {
                    <td>
                    </td>
                    <td>
                        @moment.StartTime.ToString("dddd d-M-yyyy") -> @moment.EndTime.ToString("ddd d-M-yyyy")
                    </td>
                    <td>
                    </td>
                }
            </tr>

            <tr role='button' class="moments-row" onclick="onRowClick('@moment.StartTime.Date.ToString("yyyy-MM-dd")', '@moment.StartTime.AddDays(7).Date.ToString("yyyy-MM-dd")')">
                <td class="text-center">
                    start tijd: <span class="fw-bold">@moment.StartTime.ToString("HH:mm") </span>
                </td>
                <td class="text-center">
                    eind tijd: <span class="fw-bold"> @moment.EndTime.ToString("HH:mm") </span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => moment.Type)
                </td>

            </tr>
            <tr class="moments-row">
                <td>
                </td>
                <td class="text-center">
                    <a asp-action="Delete" asp-route-id="@moment.Id" class="btn btn-sm btn-danger">Verwijder</a>
                </td>

                @if (moment.ReviewStatus == ReviewStatus.Approved)
                {
                    <td>
                        <div class="review-status-box" data-toggle="tooltip" data-placement="top" title="Dit moment is goedgekeurd door de manager">
                            <p>Status: <span class="bi bi-check text-success text-large"></span></p>
                        </div>
                    </td>
                }
                @if (moment.ReviewStatus == ReviewStatus.Pending)
                {
                    <td>
                        <div class="review-status-box" data-toggle="tooltip" data-placement="top" title="Dit moment is nog niet gekeurd door de manager">
                            <p>Status: <span class="bi bi-patch-question-fill text-primary text-large"></span></p>
                        </div>
                    </td>
                }
                @if (moment.ReviewStatus == ReviewStatus.Rejected)
                {
                    <td>
                        <div class="review-status-box" data-toggle="tooltip" data-placement="top" title="Dit moment is niet goedgekeurd door de manager. ">
                            <p>Status: <span class="bi bi-x text-danger text-large"></span></p>
                        </div>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-primary text-center">
        Je hebt nog geen onbeschikbare momenten. Voeg er een toe door op de voeg toe knop te drukken bovenaan het scherm.
    </div>
}

@Html.Partial("_CopyRoster")

@section Scripts {

    <script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()

</script>
    }
