@model Bumbo.Models.UnavailableMoments.UnavailableMomentsListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnavailableMoments[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnavailableMoments[0].EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnavailableMoments[0].Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UnavailableMoments)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
