@model Bumbo.Models.EmployeeRoster.EmployeeShiftsListViewModel
@using BumboData.Enums
@using Bumbo.Utils
@{
    ViewData["Title"] = "Rooster";
    ViewBag.data = "Roster";
}


<h1 class="text-center">
    Diensten deze dag
</h1>


<div class="border border-2 border-dark rounded col-md-12 bg-white m-1">
    <div class="d-flex justify-content-between m-2 align-items-center text-center">
        <div>
            <a class="btn btn-primary" asp-action="Index" asp-route-dateInput="@Model.Date.AddDays(-7)">
                <i class="bi bi-caret-left"></i>Vorige week
            </a>
        </div>
        <div class="fw-bold">
            @Model.Date.ToString("yyyy MMM") Week @Model.Date.ToDateTime(new TimeOnly()).GetWeekNumber()
        </div>
        <div>
            <a class="btn btn-primary" asp-action="Index" asp-route-dateInput="@Model.Date.AddDays(7)">
                Volgende week<i class="bi bi-caret-right"></i>
            </a>
        </div>
    </div>
</div>

<div class="row border-bottom border-2 border-dark">
    @for (int i = 0; i < 7; i++)
    {
        <div class="col text-center m-0">
            <a class="text-decoration-none " asp-action="Index" asp-route-dateInput="@Model.GetDayDate(i)">
                <div class="day-header text-black @(Model.DayIsSelected(i) ? "selected" : "") @(Model.IsToday(i) ? "today" : "") ">
                    @Model.GetDayDate(i).Day
                </div>
                <div class="text-black">
                    @Model.GetDay(i)
                </div>
            </a>
        </div>
    }
</div>


<div class="container ">

     @if (Model.shifts.Count() == 0)
    {
        <p class="text-center mt-2">Geen ingeplande diensten deze dag.</p>
    }
    @foreach (var item in Model.shifts)
    {

        <div class="row employee-roster-box employee-roster-box-shift rounded rounded-4 m-2 p-2 d-flex flex-row justify-content-center mx-auto border-bottom border-1 border-dark position-relative">
    

                @if (item.Type != null)
                {
                <div class="position-absolute top-50 start-50 translate-middle">
                        <i class="bi bi-box-arrow-right "></i>
                    </div>

                }
            <div class="col-2 date-display text-center">
                <h3>@item.StartTime.Day</h3>
                <p>@item.StartTime.ToString("ddd")</p>
            
            </div>
            <div class="col-6 ">

                <div class="row ">
                    <div class="col">

                        <h5 class="employee-roster-box-time">@item.StartTime.ToShortTimeString() - @item.EndTime.ToShortTimeString()</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="row">
                            @if (item.Type == null)
                            {
                                <div class="employee-roster-box-time  col-auto @(item.Sick ? "employee-roster-box-dep-sick" : "employee-roster-box-dep")" data-toggle="tooltip" data-placement="top" @(item.Sick ? "title=Ziek" : "")>
                                    <p>@item.DepartmentName Afdeling</p>
                                </div>
                            }else{
                                
                                <div class="employee-roster-box-reason employee-roster-box-time col-auto">
                                    @Html.DisplayFor(modelItem => item.Type) 
                                </div>
                                <div class="col-auto ">
                                    @if (item.ReviewStatus == null)
                                    {

                                        <span class="bi bi-exclamation-circle text-danger text-large"></span>
                                    }
                                    @if (item.ReviewStatus == BumboData.Enums.ReviewStatus.Approved)
                                    {
                                        <div data-toggle="tooltip" data-placement="top" title="Dit moment is goedgekeurd door de manager">
                                            <span class="bi bi-check text-success text-large"></span>
                                        </div>


                                    }
                                    @if (item.ReviewStatus == BumboData.Enums.ReviewStatus.Pending)
                                    {
                                        <div data-toggle="tooltip" data-placement="top" title="Dit moment is nog niet gekeurd door de manager">
                                            <span class="bi bi-patch-question-fill text-primary text-large"></span>
                                        </div>

                                    }
                                    @if (item.ReviewStatus == BumboData.Enums.ReviewStatus.Rejected)
                                    {
                                        <div data-toggle="tooltip" data-placement="top" title="Dit moment is niet goedgekeurd door de manager. ">
                                            <span> <span class="bi bi-x text-danger text-large"></span></span>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-4 ">

                @if (item.Type == null)
                {
                    <div class="row">
                        <div class="col">
                            <small>@item.Street  @item.HouseNumber</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>@item.City</p>
                        </div>
                    </div>
                }else{
                    <div class="row">
                        <div class="col">
                            <!--Decided to only show the length if it lasts longer than a day, because otherwise the view gets too cluttered when viewing on mobile.-->
                            @if (item.StartTime.Date != item.EndTime.Date)
                            {
                                <small>  @item.GetLengthDays()</small>
                            }
                                          
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            @if (item.StartTime.Date != item.EndTime.Date)
                            {
                                <small>Eindigt @item.EndTime.ToString("d-M-yyyy")</small>
                            }

                        </div>
                    </div>
                }
              

            </div>
        </div>

        }

</div>



@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}
