@model Bumbo.Models.EmployeeRoster.EmployeeShiftsListViewModel
@using BumboData.Enums
@{
    ViewData["Title"] = "Rooster";
    ViewBag.data = "Roster";
}




<h1 class="text-center">
    Diensten deze week
</h1>


<div class="top-date-header  d-flex justify-content-between m-2 border rounded-2 align-items-center border border-5 border-dark p-2 mx-auto">

    <div>
        <!--Arrow to left, using an bootstrap arrow png-->
        <a class="text-decoration-none" asp-action="Index" asp-route-dateInput="@Model.Date.AddDays(-7)">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-caret-left" viewBox="0 0 16 16">
                <path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z" />
            </svg>
        </a>
    </div>

    <div >
        <!--Week  number, date information which is in the center.-->
        @Model.Date.ToString("dd MMMM yyyy") -> @Model.Date.AddDays(7).ToString("dd MMMM yyyy")
    </div>
    <div>
        <!--Arrow to right, using an bootstrap arrow png on the right side of the bar.-->
        <a class="text-decoration-none" asp-action="Index" asp-route-dateInput="@Model.Date.AddDays(7)">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z" />
            </svg>
        </a>
    </div>
</div>

<!--Display of all days in line, selected day is highlighted-->
<div class="row border-bottom border-2 border-dark">
    @for (int i = 0; i < 7; i++)
    {


        <div class="col text-center m-0">
            <a class="text-decoration-none " asp-action="Index" asp-route-dateInput="@Model.GetDayDate(i)">
                <div class="day-header text-black @(Model.DayIsSelected(i) ? "selected" : "") @(Model.IsToday(i) ? "today" : "") ">
                    @Model.GetDayDate(i).Day
                </div>
                <div class="text-black">
                    @Model.GetDay(i)
                </div>
      
            </a>
        </div>
            
    }
</div>



<div >
    @if (Model.shifts.Count() == 0)
    {
        <p class="text-center mt-2">Geen ingeplande diensten komende week.</p>
    }
    @foreach (var shift in Model.shifts)
    {
        // if there's no type we have an unavailable moment
        @if (shift.Type != null)
        {
            <div class="p-3 mx-auto employee-roster-box">
                <div class="card d-flex row justify-content-around border-bottom employee-roster-box flex-column">
                    <div class="card-header text-center">
                       <span class="fw-bold">Onbeschikbaar</span>
                        @if (shift.StartTime.Date == shift.EndTime.Date)
                        {
                            <div colspan="5">
                                @shift.StartTime.ToString("dddd d-M-yyyy ")
                            </div>

                        }
                        else
                        {
                            <div colspan="5">
                                @shift.StartTime.ToString("dddd d-M-yyyy") ->  @shift.EndTime.ToString("ddd d-M-yyyy")
                            </div>
                        }
           

                     </div>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col">
                                start tijd: <span class="fw-bold">@shift.StartTime.ToString("HH:mm") </span>
                            </div>
                            <div class="col">
                                eind tijd: <span class="fw-bold"> @shift.EndTime.ToString("HH:mm") </span>
                            </div>
                        </div>
                       
                        <div class="container">
                            <div class="row">
                                <div class="col m-2">
                                    Type: @Html.DisplayFor(modelItem => shift.Type)
                                </div>
                                <div class="col">
                                    @if (shift.ReviewStatus == null)
                                    {

                                        <p>Status: <span class="bi bi-exclamation-circle text-danger text-large"></span></p>
                                    }
                                    @if (shift.ReviewStatus == BumboData.Enums.ReviewStatus.Approved)
                                    {
                                        <div data-toggle="tooltip" data-placement="top" title="Dit moment is goedgekeurd door de manager">
                                            <p>Status: <span class="bi bi-check text-success text-large"></span></p>
                                        </div>

                                       
                                    }
                                    @if (shift.ReviewStatus == BumboData.Enums.ReviewStatus.Pending)
                                    {
                                        <div data-toggle="tooltip" data-placement="top" title="Dit moment is nog niet gekeurd door de manager">
                                            <p>Status: <span class="bi bi-patch-question-fill text-primary text-large"></span></p>
                                        </div>
                                        
                                    }
                                    @if (shift.ReviewStatus == BumboData.Enums.ReviewStatus.Rejected)
                                    {
                                        <div data-toggle="tooltip" data-placement="top" title="Dit moment is niet goedgekeurd door de manager. ">
                                            <p>Status: <span class="bi bi-x text-danger text-large"></span></p>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>

 
                    
                    </div>

                 </div>
             </div>

             <!--Normal shift-->
        }else{
        <div class="d-flex flex-row justify-content-around mx-auto align-items-center employee-roster-box">
            <div class="d-flex flex-column row date-display text-center">
                <h3>@shift.StartTime.Day</h3>
                <p>@shift.StartTime.ToString("ddd")</p>
            </div>

            <div class="d-flex row justify-content-around border-bottom border-dark p-3">


                <div class="d-flex flow-row justify-content-between ">
                    <h5>@shift.StartTime.ToShortTimeString() - @shift.EndTime.ToShortTimeString()</h5>
                    <p>@shift.Street  @shift.HouseNumber</p>
                </div>


                <div class="d-flex flow-row justify-content-between">
                    <p>@shift.DepartmentName</p>
                    <p>@shift.City</p>
                </div>
            </div>
        </div>




        }


    }
</div>

@section Scripts {

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>


}
@*

    <div class="card mb-3 employee-roster-box d-flex flex-row justify-content-around mx-auto align-items-center">
        <div class="row g-0">
            <div class="col-md-4 text-center border border-1 ">
                <h3>@shift.StartTime.Day</h3>
                <p>@shift.StartTime.ToString("ddd")</p>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="d-flex flow-row justify-content-between ">
                        <h5>@shift.StartTime.ToShortTimeString() - @shift.EndTime.ToShortTimeString()</h5>
                        <p>@shift.Street  @shift.HouseNumber</p>
                    </div>


                    <div class="d-flex flow-row justify-content-between">
                        <p>@shift.DepartmentName</p>
                        <p>@shift.City</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
*@